<br>
<div style="border-radius: 7px;padding: 15px;background-color: #465f60;width: 80%;margin: 10px auto; text-align: center">
    <table style="width: 100%;color:#fff;font-size: .9rem">
        <tr>
            <td>Quantité</td>
            <td>Description</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>Prix</td>
        </tr>
    </table>
</div>
<div style="border-radius: 7px;padding: 15px;background-color: #fff;width: 80%;margin: 10px auto; text-align: center;box-shadow: 0 0 10px 0 #8c8c8c">
    <table style="width: 100%">
        <tr>
            <td style="text-align: left">Job Id</td>
            <td>Customer Name</td>
            <td style="text-align: right">Amount Due</td>
        </tr>
    </table>
</div>
