<table id="container" style="color: #fff;width: 100%;padding: 1rem 3rem;font-size: .8rem;line-height: 1.5rem">
    <tr>
        <td id="my-infos">
            <img style="vertical-align: top" src="assets/tmp-logo.png" width="150"/>
        </td>
        <td id="customer-infos" style="width: 30%; text-align: center">
            <h1>DEVIS</h1>
        </td>
    </tr>
    <tr>
        <td style="width: 50%; padding-top: 2em">
            <p>
                Alex Dev. Informatique <br>
                N° Siret : 94786376700010 <br>
                34730 Prades-le-lez <br>
                06.65.37.35.82 <br>
                perrot.alex.dev@gmail.com
            </p>
        </td>
        <br>
        <br>
        <br>
        <br>
        <br>
        <td>
            <p>
                Alex Dev. Informatique <br>
                34730 Prades-le-lez <br>
                06.65.37.35.82 <br>
                perrot.alex.dev@gmail.com
            </p>
        </td>
    </tr>
</table>